[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "combcoint"]
	path = combcoint
	url = https://github.com/janine-langerbein/combcoint
